<h1>What your cart includes</h1>

<% total = 0 %>
<table>
	<% @carts.each do |id, quantity| %>
	<% product = Product.find(id) %>
	<tr>
	<!-- AO KUVAAN VIITTAUS EI KUNNOS -->
		<td><%= image_tag "shotgun.png", :width => 60 %></td>
		<td><% product.title %></td>
		<td widhth="60"><% quantity %></td>
		<td widhth="60"><% number_to_currency product.price, :unit => "&euro;" %></td>
		<td widhth="60"><% number_to_currency product.price * quantity, :unit => "&euro;" %></td>
	</tr>
	<% total += quantity * product.price %>
<% end %>
<tr>
	<td colspan="4">Total:</td>
	<td><% number_to_currency total, :unit => "&euro;" %></td>
</tr>
</table>



<%= image_tag("yhteystietokuva.png", :alt => "Yhteystiedot", :id =>"otsikkokuva")%>