<!-- Seuraava patka on javaskriptia, joka maarittaa etusivun striimia -->

<script type="text/javascript">
 $(document).ready(function(){
 
 //Define the animation speed for the Carousel 
 var speed = 600;
 var margin = 0;
 $('#navPrev').click(function(){
	//As the rest of our carousel is hidden, lets move it's margin left untilit's in view
	//We use the jQuery animate() function give this movement a nice smooth feel
	margin+=180;
	$('#carousel ul').animate({marginLeft: -margin + 'px'}, speed);
	});
 
 $('#navNext').click(function(){
	 //And now lets move back to the start of the Carousel
	 margin-=180;
	 $('#carousel ul').animate({marginLeft: -margin + 'px'}, speed);
	 });
 });
 </script>
 
 
 <!-- Striimin divit -->

<div id = "content">
 
 <div id="container">
  <div id="carousel">
	  <ul> 
		  <li><img src="/assets/image1.png" alt="" /></li>
		  <li><img src="/assets/image2.png" alt="" /></li>
		  <li><img src="/assets/image3.png" alt="" /></li>
		  <li><img src="/assets/image4.png" alt="" /></li>
		  <li><img src="/assets/image5.png" alt="" /></li>
		  <li><img src="/assets/image6.png" alt="" /></li>
<!--		  <li><img src="image7.jpg" /></li>
		  <li><img src="image8.jpg" /></li> -->
	  </ul>  
  </div> 
	<a id="navNext" href="#">Edellinen</a> 
    <a id="navPrev" href="#">Seuraava</a>  
</div> 


<h2>Etusivu</h2>

	<div id = "leipateksti">
		<p>Maistuuko extremeurheilu? Oletko vaeltanut ilman varusteita Etelänavan halki ja kenties piessyt beduiinin tai pari juostessasi Saharan halki? Jos vastasit jompaan kumpaan kysymykseen kyllä tai elämyslomat yleensäkin miellyttävät, on Dinosaari™ sinun valintasi! <br>
		<br>
		Saarella voit ihastella sukupuutolta säästyneitä dinosauruksia näiden luontaisessa elinympäristössä joko leppoisasti jeepistä käsin tai enemmän extremeloman kaltaisesti itse dinosaurusten keskellä seikkaillen. Jos liipaisinsormeasi kutittaa ja sihtisi on kohdillaan, voit myös itse yrittää esimerkiksi Velociraptorin kaatamista. Valmispaketteihin kyllästyneille taas tarjotaan mahdollisuus kokonaan omanlaisensa loman suunnitteluun -yksi asia saarelle tulemisessa on kuitenkin varma: Dinosaari™ -elämyksesi tulee olemaan unohtumaton! Tutustu välilehtien avulla eri matkavaihtoehtojen erityispiirteisiin.
		</p>
	</div>
	
<div class="clear"></div>

</div>