

<!-- Kuvaelementti, joka tulee jokaisen sivun alkuun varsinaisen sisallon ylapuolelle-->
<%= image_tag("tietoa_saaresta_palkki.jpg", :alt => "Historia", :id =>"otsikkokuva")%>

<div id = "content">
<h2>Historia</h2>

	<div id = "leipateksti">
	<h3>Sumuverhon läpi</h3>
		<p>Saaren löysi alunperin Juhani Rantanen, joka tunnetaan myös maamme kuuluisimpana seikkailu-urheilijana. Mies on voittanut Enontekiön Hetassa vuosittain järjestettävän Poro-Adventure –kilpailun viidesti ja jopa peräkkäisinä vuosina 1972-1977. Rantanen tunnetaan ennen kaikkea kovasta kunnostaan: mies on hakenut vaihtelua rullaluistelua, vaellussuunnistusta ja pyöräilyä yleensä yhdistäviin seikkailu-urheilu –tapahtumiin kalliokiipeilystä, koskiuinnista ja riippuliitämisestä. Näinpä onkin ainoastaan sopivaa, että Rantanen eksyi  vuonna 1978 purjehduslomaa viettäessään aiotulta reitiltään sumun takia ja löysi tiensä ennen kokemattomalle Tyynenmeren saarelle, jossa luonnollisessa elinympäristössään elävien dinosaurusten tarjoamat liiketoimintamahdollisuudet Rantanen ymmärsi heti ensijärkytyksestä toivuttuaan.</p>

		<p>Saaren omistusoikeuden rekisteröimistä seurasi kiivas kahden vuoden tutustumis- ja rakentamisjakso, jonka aikana Rantanen yhdessä liikekumppaneidensa Jorma Norosen ja Seppo Kinnusen kanssa  kartoitti ja dokumentoi saaren viimeistäkin neliömetriä myöten sekä rakennutti mittavan määrän erinäisiä sähköistettyjä suoja-aitoja. Aitaustöiden seurauksena saari on jaettavissa viiteen asujaimiston ja maaston perusteella eroavaan osaan, joille muodostettiin tietty vaarallisuusluokitus ja keksittiin nimi.</p>
	</div>
	
	<div id ="oikeateksti">
	<p> Liikekumppanit päättivät rakentaa saarelle kaksi eri majoituspaikkaa: ensisijainen majoituspaikka sijaitsee Dazaranin Autiomaan rannassa ja tarjoaa turvallisen ensikosketuksen saareen. Keskitason vaarallisuutta edustavan Zolin Tasangon laitamilla sijaitseva toinen majapaikka tarjoaa turvaa sillä saaren reunalla matkaaville.</p>
	
	<p>Vuosi 2011 alkoi kovan mainoskampanjan saattelemana, mutta valitettava onnettomuus mustasi saaren maineen lähes välittömästi: eräs toisen saarelle koskaan saapuneen retkeilijäryhmän jäsenistä liukastui kävellessään sateen kostuttamalla kumpareella ja liukui monen sadan metrin pituisen mutamäen aina erään saaren laakson pohjalle asti. Laakson pohjalla juomassa ollut Tyrannosaurus Rex ei paljon turistin peloissaan aloittamasta konekivääritulesta hätkähtänyt vaan ahmaisi matkailijan varusteineen päivineen valtaisaan kitaansa. Pitkällinen ja kallis PR-kampanja yhdessä entistä tehokkaamman opaskoulutuksen kanssa ovat kuitenkin tehneet tehtävänsä ja matkailijavirta on ollut melkoinen vuoden 2012 aikana, haluavathan monet nähdä majesteettisia otuksia joiden pelättiin jo kuolleen sukupuuttoon.</p>
	
	</div>
	<div class="clear"></div>

</div>

