

<!-- Kuvaelementti, joka tulee jokaisen sivun alkuun varsinaisen sisallon ylapuolelle-->
<%= image_tag("historia.png", :alt => "Historia", :id =>"otsikkokuva")%>

<div id = "content">
<h2>Historia</h2>
<p>Find me in app/views/pages/historia.html.erb</p>

</div>

