<!-- Kuvaelementti, joka tulee jokaisen sivun alkuun varsinaisen sisallon ylapuolelle-->
<%= image_tag("historia.png", :alt => "Kartta", :id =>"otsikkokuva")%>

<div id = "content">
<h2>Hello kartta</h2>
</div>