<!-- Kuvaelementti, joka tulee jokaisen sivun alkuun varsinaisen sisallon ylapuolelle-->
<%= image_tag("historia.png", :alt => "Kartta", :id =>"otsikkokuva")%>

<div id = "content">
<h2>Hello kartta</h2>

<embed id="flashkartta" src="/kartta_testi2.swf" width="640" height="800" play="true" loop="false" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer"
type="application/x-shockwave-flash">
</embed>

</div>