
<!-- Kuvaelementti, joka tulee jokaisen sivun alkuun varsinaisen sisallon ylapuolelle-->
<%= image_tag("yhteystietokuva.png", :alt => "Lajiesittely", :id =>"otsikkokuva")%>

<div id = "content">

<h2>Lajiesittely</h2>

<center>
	<embed id="flashkartta" src="/Dinot.swf" width="640" height="800" play="true" loop="false" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer"
	type="application/x-shockwave-flash">
	</embed>
</center>
<div class="clear"></div>

</div>
