
<!-- Kuvaelementti, joka tulee jokaisen sivun alkuun varsinaisen sisallon ylapuolelle-->
<%= image_tag("yhteystietokuva.png", :alt => "Lajiesittely", :id =>"otsikkokuva")%>

<div id = "content">

<h2>Pages#lajiesittely</h2>
<p>Find me in app/views/pages/lajiesittely.html.erb</p>

</div>
