

<!-- Kuvaelementti, joka tulee jokaisen sivun alkuun varsinaisen sisallon ylapuolelle-->
<%= image_tag("historia.png", :alt => "Palvelut", :id =>"otsikkokuva")%>

<div id = "content">

<h2>Pages#palvelut</h2>
<p>Find me in app/views/pages/palvelut.html.erb</p>

</div>