

<!-- Kuvaelementti, joka tulee jokaisen sivun alkuun varsinaisen sisallon ylapuolelle-->
<%= image_tag("tietoa_saaresta_palkki.jpg", :alt => "Palvelut", :id =>"otsikkokuva")%>

<div id = "content">

<h2>Palvelut</h2>
<div id = "leipateksti">
	<p>Perusleiri: Kaikki saarelle saapuva liikenne hoidetaan perusleirissä olevan sataman kautta. Majoituspaikat sijaitsevat  lähellä laituria. Suojattu sähkö- ja betoniaidoin sekä aseistetuin vartijoin. Alueella on sairaala, jossa on 24/7 päivystävien lääkäreiden lisäksi jatkuvassa valmiudessa oleva pelastushelikopteri. Myös kaikki asiakkaiden tilaamat varusteet noudetaan perusleiristä.</p>

	<p>Leirintäalue 2 ”John Hammond”: Leiri sijaitsee Zolin tasangolla, eikä ole pysyvästi asuttu. Viikoittain huollettava leiri sisältää majoitustilat noin kahdellekymmenelle hengelle, minkä lisäksi paikalla olevassa majassa on aurinkovoimalla toimiva sähkövoimala, satelliittipuhelin ja ensiaputarvikkeita.</p>

</div>

<div id = "oikeateksti">
	<p>Oppaat:  Joillekin saaren alueille pääsee vain koulutetun oppaan seurassa.Kaikki oppaamme ovat jo valintavaiheessa  kokeneita eränkävijöitä, minkä lisäksi he ovat käyneet läpi puolen vuoden intensiivikoulutuksen saaremme ainutlaatuisissa oloissa.  Heidän avullaan mahdollisuutesi selviytyä hengissä saaren rankimmistakin kolkista kasvavat dramaattisesti. Oppaat tuntevat saaren niin maantieteen kuin asukkienkin osalta ja taitavat kikat joilla kätkeydytään verenhimoisilta pedoilta. Oppaankäytön hinta määräytyy tarvittavien päivien perusteella.
	</p>
</div>

<div class="clear"></div>

</div>