

<!-- Kuvaelementti, joka tulee jokaisen sivun alkuun varsinaisen sisallon ylapuolelle-->
<%= image_tag("yhteystietokuva.png", :alt => "Yhteystiedot", :id =>"otsikkokuva")%>

<div id = "content">
<h2>Dinosaaren yhteystiedot</h2>




	<div id = "leipateksti">
	<p>Dinosaaremme sijaitsee tyynellä valtamerellä</p>
	</div>
	<div class="clear"></div>

</div>
