

<!-- Kuvaelementti, joka tulee jokaisen sivun alkuun varsinaisen sisallon ylapuolelle-->
<%= image_tag("yhteystietokuva.png", :alt => "Yhteystiedot", :id =>"otsikkokuva")%>

<div id = "content">
<h2>Dinosaaren yhteystiedot</h2>





<p>Find me in app/views/pages/yhteystiedot.html.erb</p>

</div>
