

<!-- Kuvaelementti, joka tulee jokaisen sivun alkuun varsinaisen sisallon ylapuolelle-->
<%= image_tag("extreme_palkki.jpg", :alt => "Yhteystiedot", :id =>"otsikkokuva")%>

<div id = "content">
<h2>Dinosaaren yhteystiedot</h2>




	<div id = "leipateksti">
	<h3>Dinosaari Oy:n toimiva johto</h3>
		<p>Juhani Rantanen, Toimitusjohtaja ja hallituksen puheenjohtaja. <br>
		puh. 050 *** **** <br> Sähköposti: 
		juhani.rantanen@dinosaari.fi
		</p>
		
		<p>Jorma Noronen, Talousjohtaja <br>
		puh. 0400 *** *** <br>
		Sähköposti jorma.noronen@dinosaari.fi
		</p>
		
		<p>Seppo Kinnunen, Operatiivinen johtaja <br>
		puh. 040 *** **** <br> 
		Sähköposti seppo.kinnunen@dinosaari.fi
		</p>
		
		<p>Reittien suunnitteluun ja matkakohteen sopivuuteen liittyvissä kysymyksissä pyydämme teitä kääntymään Sepon puoleen, koska miehen kokemus saarella elämisestä on vertaansa vailla. Jormalta kuulette tuoreimmat supertarjoukset ja voitte neuvotella pakettien hinnoista. Juhani taas on vastuussa rekrytoinneista, joten jos työskentely tajunnanräjäyttävällä Dinosaarella kiinnostaa, älkää epäröikö ottaa yhteyttä!
		</p>
	</div>
	<div class="clear"></div>

</div>
