/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

h1 { color: rgba(170, 255, 170, 1);} 

h2 { color: rgba(180, 255, 180, 1);}

h3 { color: rgba(190, 255, 190, 1);}

p { color: rgba(200, 255, 200, 1);}

a {text-decoration: none }

td { color: rgba(200, 255, 200, 1);}


/*Kuva varastettu sivulta http://farm6.staticflickr.com/5211/5435152877_2b62f4947e_b.jpg */
body
{
background-image:url('TAUSTA_2.jpg');
background-repeat: no-repeat;
background-attachment:fixed;
background-size:100% 100%;
} 

#ylapalkki {
background-color: rgba(0, 150, 0, 0.3);
height: 50px;
}

#ylapalkki a {
	color: rgba(200, 255, 200, 1);
}

#ylapalkki li, #alapalkki li {
display: block;
float: left;
padding-top: 16px;
padding-left: 3px;
padding-right: 8px;
padding-bottom: 16px;
}

#alapalkki a {
display: block;
float: left;
color: white;
}

.selected {
	/*background:#33CC00;*/
	background-color: rgba(0, 120, 0, 0.7);
}

#alapalkki, #alapalkki li {
	background-color: rgba(255, 180, 0, 0.3);
	color: white;
}

#content {
	/*background: #7CFC00; */
	background-color: rgba(0, 0, 0, 0.5);
}

.clear {
clear: both;
}

#main {
	width: 960px;
	margin: 0 auto;
/*	filter:alpha(opacity=50);
	-moz-opacity:0.50;
	-khtml-opacity: 0.50; 
	opacity: 0.60;*/
}

#sisaltodiv {
margin: 0 auto;
display: block;
float: left;
width: 100%;
}

#logokuva {
width:100%;
height: 200px;
}

#otsikkokuva {
width: 100%;
height: 100px;
float:left;
}

#etusivuotsikkokuva {
	width:100%;
	height: 191px;
	float:left;
}

#tekijanoikeus {
text-align: center;
}

/* Widthin voi säätää sopivaks, 100%=960px*/
/*
#ostoselementti {
display: block;
float: right;
overflow: scroll;
height: 250px;
width: 10%;
background: #FFF;
}*/

#leipateksti {
	display: block;
	width: 40%;
	text-align:left;
	float: left;
}

#oikeateksti {
	display: block;
	width: 40%;
	float: right;
}

#flashkartta  {
	display: block;
	float: center;
}

