#container {
height:380px;
 width:380px;
 font-family:Tahoma;
 }
 
 #carousel {
 height:362px;
 width:362px;
 border:1px solid #000;
 overflow:hidden;
 }
 
 #carousel ul {
 list-style-type:none;margin-top:0px;
 width:1086px;
 margin-left:0;
 left:0;
 padding-left:0px;
 }
 
 #carousel li {
 display:inline;
 }
 
 #carousel ul li img{
 width:360px;
 height:360px;
 border:1px solid #ccc;
 float:left;
 }
 
 #navNext {
 float:left;
 
 }
 
 #navPrev {
 
 float:right;
 }
